extends layout

block content
  h1 #{title}

  p Do you really want to delete this album?

  form(method='POST' action='')
    div.form-group
      input#albumid.form-control(type='hidden', name='albumid', required='true', value=album._id)
    button.btn.btn-primary(type='submit') Delete
